body {
    background-image: url('../images/nightsky.jpg');
    background-size:cover;
    background-position: center;
    min-height: 100vh;
    
}

h3:first-of-type {
    text-decoration: line-through;
    text-decoration-color: red;
    text-decoration-thickness: 5px;
}


